# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.dockerignore

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.firebase
.firebaserc
.hintrc
firebase.json
tsconfig.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea/

.env
.env_example
.eslintrc

/.firebase/hosting.YnVpbGQ.cache

functions/lib/
.package.json
.package-lock.json
.tsconfig

*.log

extensions/firestore-send-email.env

emulatordb

/firebase.json

firebase-export-*/