body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} 

.container{
  flex: 1;
  background-color: #FFFBF0;
}